/* STYLESHEET */

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;  
}

.header {
    margin: 0px;
    background-color: #FDFDE2;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Sofia", sans-serif;
    color: black;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
    display: flex;
    margin: 0;
    padding: 8px 16px;
  }
  
.right-links, a{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    color: black;
}

.content {

}

img {
    max-width: 300px;
    margin: 0px;
    border-radius: 30px;
    ;
}

.top {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: 8px 16px;

}

.left-side {
    max-width: 600px;
}

.book {
    
}

.mid {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    padding: 8px 16px;
}

.bottom {
    background-image: url("./img/stones.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    color: white;
    font-size: 32px;
}

.cta {

}

.cta {
    background: #FDFDE2;
    display: flex;
    gap: 16px;
    padding: 16px;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  }


