/* STYLESHEET */

* {
    margin: 0px;
}

a{
    color: white;
    text-decoration: none;
   }

   img {
       max-width: 300px;
       border-radius: 30px;
       border: solid 4px#3882f6;
   }
.body {

}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.right-links {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Shadows Into Light Two";
}

.logo {
    font-family: "Ephesis";
    color: #f9faf8;
    font-size: 32px;
}

.content {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 32px;
}

.left-side {
    color: #e5e7eb;
    font-size: 18px;
    font-family: "Shadows Into Light Two";
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 16px;
    max-width: 600px;
    
}
h1 {
    color: #f9faf8;
    font-size: 48px;
    font-family: "Shadows Into Light";
}

.img-top {
    max-width: 600px;
    border: none;
}

.btn {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    max-width: 25%;
    
}

.btn:hover {
    background-color: #0d5ee0;
}

.mid {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

h2 {
    font-family: "Shadows Into Light";
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    font-family: "SHadows Into Light Two";
}

.bottom {
    padding: 32px;
    background-color: #e5e7eb;
    color: #1f2937;
    font-family: "Shadows Into Light";
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    max-width: 600px;
}

h4 {
    color: #1f2937;
    margin-left: 300px;
}